<div class="navbar navbar-inverse">
	<div class="navbar-inner"><h1>Edycja</h1></div>
</div>
<div class="center hero-unit">
<%= render 'form' %>
</div>
<span class="btn btn-large btn-success"><%= link_to 'Pokaż', @gist %></span>
<span class="btn btn-large btn-primary"><%= link_to 'Powrót', gists_path %></span>



