<div class="panel panel-primary">
  <div class="panel-heading"><h1>Edycja</h1></div>
</div>



<%= render 'form' %>


<span class="btn btn-large btn-success"><%= link_to 'Pokaż', @gist %></span>
<span class="btn btn-large btn-primary"><%= link_to 'Powrót', gists_path %></span>



