
<div class="all" >
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <nav>
      <ul class="nav pull-left">
        <li>
          <a href="/gists">MyGists</a>
        </li>
        <li>
          <a href="http://www.github.com/waveq/MyGists">Projekt na githubie</a>
        </li>
        <li>
          <a href="/gists/new">Quick add</a>
        </li>
        <li class="divider-vertical" />
      </ul>
      <ul class="nav pull-right hidden-xs">
        <form class="navbar-form navbar-left pull-right" role="search" action="/gists/search">
          <div class="form-group">
            <%= select_tag(:lang, options_for_select(Pygments.lexers.keys.sort.map! {|l| l.downcase.strip},
             params[:lang]))%>
           </div>
           <button type="submit" class="btn btn-default">Search</button>
         </form>
       </ul>
    </nav>
  
  </div>
</div>

</div>

<div class="center hero-unit">
  <%= link_to 'Dodaj', new_gist_path, :class => "btn btn-large btn-prime"  %>
  <div id="gists-list">
       <%= render @gists %>
  </div>
</div>
 

<div id="infinite-scrolling" disabled="true">
    <%= will_paginate %>
</div>
