<div class="navbar navbar-inverse">
	<div class="navbar-inner"><h1>Nowy gist</h1></div>
</div>


<div class="center hero-unit">
<%= render 'form' %>
</div>

<span class="btn btn-large btn-primary"><%= link_to 'Powrót', gists_path %></span>
