<div class="panel panel-primary">
  <div class="panel-heading"><h1>Nowy gist</h1></div>
</div>



<%= render 'form' %>

<span class="btn btn-large btn-primary"><%= link_to 'Powrót', gists_path %></span>
